<footer class="pages-footer" role="contentinfo">
  <div role="container">
    <span class="pages-footer-copyright">
      &copy; 2016 <a href="http://elbongurk.com">Elbongurk LLC</a>
    </span>
    <ul class="pages-footer-links">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Contact Us", contact_path %></li>
      <li><%= link_to "Privacy Policy", privacy_path %></li>
      <li><%= link_to "Legal", legal_path %></li>
    </ul>
  </div>
</footer>
