<div role="container">
  <div class="panel-small">
    <div class="panel-body">
      <h2>Thank you!</h2>
      <p>We have received your submission.</p>
      <p><a href="javascript:history.back();" class="button">Back to previous page</a></p>
    </div>
  </div>
</div>
