<%= panels_for [:root, @form, 'Submissions'] do %>
  <table>
    <thead>
      <tr>
        <th>Created At</th>
        <th>Preview</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @submissions %>
      <% @submissions.each do |submission| %>
      <% end %>
    </tbody>
  </table>
  <p><%= link_to "Export", form_submissions_path(@form, format: :csv), class: :button %></p>
<% end %>
