<%= panels_for [:root, @form, 'Submissions'] do %>
  <table>
    <thead>
      <tr>
        <th>Created At</th>
        <th>Preview</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% if @submissions.present? %>
        <%= render @submissions %>
      <% else %>
        <tr>
          <td class="empty" colspan="6">
            <%= link_to "Setup form code", form_path(@form) %> to receive submissions
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p><%= link_to "Export", form_submissions_path(@form, format: :csv), class: :button %></p>
<% end %>
