<div class="panel">
  <header>
    <h2>Forms</h2>
  </header>
  <div class="panel-body">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Submissions</th>
          <th>Last Submission</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% if @forms.present? %>
          <%= render partial: 'form', collection: @forms, locals: { submission_count: @submission_count, submission_last: @submission_last } %>
        <% else %>
          <tr>
            <td class="empty" colspan="6">
              <%= link_to "Add a form", new_form_path %> to see it listed here.
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="panel-actions">
      <% if current_user.form_quota_met?  %>
        <span>You will need to <%= link_to "upgrade your subscription", account_subscription_path %> in order to create more forms.</span>
      <% else %>
        <%= link_to "Add a Form", new_form_path, class: :button %>
      <% end %>
    </div>
  </div>
</div>
