<%= panel_for :root do %>
  <table>
    <thead>
      <tr>
        <th>Created At</th>
        <th>Name</th>
        <th>Submissions</th>
        <th>Updated At</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <%= render @forms %>
    </tbody>
  </table>
  <% if @user.form_quota_met?  %>
    <p>You will need to upgrade your subscription in order to create more forms.</p>
    <p><%= link_to "Upgrade Subscription", account_subscription_path, class: :button %></p>
  <% else %>
    <p><%= link_to "New Form", new_form_path, class: :button %></p>
  <% end %>
<% end %>
