/* UTILITY */

[role="container"], [role="main"] {
  @include clearfix;
  max-width: $max-width;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
  @media (min-width: $medium-screen) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @media (min-width: $large-screen) {
    padding-left: 45px;
    padding-right: 45px;
  }
}

/* BODY */

body {
  background: #f8f8f8;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

[role="main"] {
  flex: 1;
  width: 100%;
}

/* HEADER */

header[role="banner"] {
  background: #fff;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  h1 {
    margin: 0;
    padding-top: 14px;
    a {
      color: #464646;
      &:hover {
        color: $dark-gray;
      }
    }
  }
  nav {
    ul li {
      line-height: 40px;
      display: inline-block;
      margin-left: 16px;
      a {
        color: #888;
        &:hover {
          color: $dark-gray;
        }
      }
      a.call-to-action {
        border: 2px solid #E5E5E5;
        padding: 4px 12px;
        border-radius: 3px;
        &:hover {
          border-color: #FD133C;
          background: #FD133C;
          color: #fff;
        }
      }
    }
  }
  @media (min-width: $medium-screen) {
    @include clearfix;
    text-align: left;
    h1 {
      float: left;
    }
    nav {
      float: right;
    }
  }
}

/* FOOTER */

footer[role="contentinfo"] {
  @include clearfix;
  margin-top: 40px;
  background: #222424;
  color: #717172;
  font-size: 13px;
  padding-top: 12px;
  padding-bottom: 12px;
  a {
    color: #717172;
  }
  a:hover {
    color: #717172;
    text-decoration: underline;
  }
  span {
    float: right;
  }
  @media (min-width: $medium-screen) {
    ul li {
      display: inline-block;
      &:after {
        content: "\2022";
        color: darken(#717172, 10%);
        margin-left: 6px;
        margin-right: 3px;
      }
      &:last-child:after {
        content: "";
      }
    }
  }
}

/* PANELS */

.panel-wrapper {
  padding-left: 20px;
  padding-top: 20px;
  background: #fdfdfd;
  border: 1px solid #e6e5e5;
}

@for $panel-children from 1 through 3 {
  .panel-wrapper[data-children="#{$panel-children}"] {
    margin-right: 20px * $panel-children;
    margin-bottom: 20px * $panel-children;
  }
}

.panel {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background: #fff;
  padding: 20px;
}

.panel-wrapper .panel, .panel-wrapper .panel-wrapper {
  margin-right: -20px;
  margin-bottom: -20px;
}

.panel header h2, .panel-wrapper header h2 {
  font-size: 1.4em;
}

.panel header {
  @include clearfix;
  h2 {
    float: left;
  }
  .panel-actions {
    float: left;
    a {
      margin-left: 16px;
    }    
  }
}

.panel-tools {
  @include clearfix;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  margin-bottom: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  a {
    float: left;
    padding: 0;
    text-decoration: underline;
    font-size: 0.875em;
    font-weight: bold;
    margin-right: 15px;
  }
}

.panel-body h3 {
  margin-top: 1.125em;
}

.panel-small {
  margin: 0 auto;
  max-width: 380px;
  .panel-body {
    box-shadow: 0 1px 3px 0 #bfbfbf;
    border-radius: 6px;
    padding: 30px;
    background: #fff;
    h2, p {
      text-align: center;
    }
    #{$all-buttons} {
      width: 100%;
    }
    .button {
      text-align: center;
    }
  }
  footer {
    margin-top: 16px;
    text-align: center;
  }
  @media (min-width: $medium-screen) {
    margin-top: 40px;
  }
}

.panel-small-double-wide {
  max-width: 760px;
  .panel-body {
    padding: 0;
    @include clearfix;
  }
  .panel-body-left, .panel-body-right {
    padding: 30px;
    @media (min-width: $medium-screen) {
      float: left;
      width: 50%;
    }
  }
  .panel-body-right {
    background: #FD133C;
    color: #fff;
    a {
      color: rgba(255, 255, 255, 0.7);
      text-decoration: underline;
      &:hover {
        color: #fff;
      }
    }
    border-radius: 0 0 6px 6px;
    @media (min-width: $medium-screen) {
      border-radius: 0 6px 6px 0;
      height: 320px;
    }
  }
  .panel-body-right-note {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 20px;
    @media (min-width: $medium-screen) {
      margin-top: 40px;
    }
  }
  .panel-body-right-subnote {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 18px;
    @media (min-width: $medium-screen) {
      margin-bottom: 38px;
    }
  }
  .panel-body-right-highlight {
    background: darken(#FD133C, 10%);
    border: 2px solid darken(#FD133C, 20%);
    padding: 0.75em;
  }  
}

/* TABLES */

table {
  tbody tr[data-url] {
    transition: background-color $base-duration $base-timing;
    &:hover {
      background-color: lighten(#FD133C, 40%);
      cursor: pointer;    
    }
  }
  td.empty {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

/* DEFINITION LISTS */

dl {
  @include clearfix;
  dt {
    display: block;
    text-align: right;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.8em;
    letter-spacing: 0.0357em;
    color: #7b808c;
    float: left;
    width: 14%;
    clear: left;
    margin-right: 2%;
    margin-top: 0;
    line-height: 1.875;
  }
  dd {
    display: block;
    float: left;
    width: 84%;
    margin-bottom: 1.5em;
  }
}

/* FORMS */

pre input[type="text"] {
  width: 420px;
  display: inline;
  border-color: $action-color;
  border-width: 3px;
  margin-bottom: 0;
  padding: 2px 4px;
  border-radius: 0;
  font-family: $monospace;
}

label.checkbox {
  margin-bottom: 1.25em;
  color: #333;
  font-weight: 400;
}

input.input-inline {
  display: inline;
  width: auto;
}

/* FLASHES */

$alert-color: #fff6bf !default;
$error-color: #fbe3e4 !default;
$notice-color: #e5edf8 !default;
$success-color: #e6efc2 !default;

@mixin flash($color) {
  background-color: $color;
  color: darken($color, 60%);
  display: block;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 2;
  text-align: center;

  a {
    color: darken($color, 70%);
    text-decoration: underline;

    &:focus,
    &:hover {
      color: darken($color, 90%);
    }
  }
}

.flash-alert {
  @include flash($alert-color);
}

.flash-error {
  @include flash($error-color);
}

.flash-notice {
  @include flash($notice-color);
}

.flash-success {
  @include flash($success-color);
}

.base-error {
  @include flash($error-color);
}

.base-error:empty {
  padding: 0; 
}
