/* OVERRIDES */

.pages-contact footer[role="contentinfo"] {
  margin-top: 0;
}

/* HERO */

.contact-hero {
  border-bottom: 1px solid #ddd;
}

.contact-hero-text {
  font-size: 22px;
  padding-top: 20px;
  padding-bottom: 20px;
  @media (min-width: $medium-screen) {
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @media (min-width: $large-screen) {
    font-size: 40px;
  }
}

.contact-hero-text-form,
.contact-hero-text-back {
  color: #B9C2C4;
}

.contact-hero-text-contact,
.contact-hero-text-right {
  display: block;
}

.contact-hero-text-form,
.contact-hero-text-back {
  @media (min-width: $small-screen) {
    display: block;
  }
}

/* FORM */

.contact-form {
  background: #fff;
  padding-top: 60px;
  padding-bottom: 80px;

  form {
    margin: 0 auto;
    max-width: 500px;
  }

  input[type="text"], input[type="email"], textarea {
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 13px;
    border: none;
    border-bottom: 2px solid #e5e5e5;
    outline: none;
    padding: 15px 0;
    font-size: 21px;
    @include transition(border-color 200ms linear);
    &:focus {
      border-color: #ff0a35;
    }
  }
  textarea {
    height: 200px;
    overflow: hidden;
  }
  input[type="submit"] {
    width: 100%;
    box-sizing: border-box;
    margin-top: 40px;
  }
}
