/* OVERRIDES */

.pages-home footer[role="contentinfo"] {
  margin-top: 0;
}

/* HERO */

.home-hero {
  overflow: hidden;
}

.home-hero-text {  
  font-size: 40px;
  font-size: 3vw;
  width: 50%;
  float: left;
  padding-top: 150px;
  padding-bottom: 150px;
  @media (min-width: $max-width) {
    font-size: 40px;
  }
}

.home-hero-figure {
  width: 50%;
  float: left;
  position: relative;
  margin: 0;
}

.home-hero-figure img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: none;
}

.home-hero-text-html, .home-hero-text-rest {
  display: block;
}

.home-hero-text-worry, .home-hero-text-let, .home-hero-text-take {
  color: #B9C2C4;
}

/* EXPLAIN */

.home-explain {
  background: #323333;
  color: #fff;
  overflow: hidden;
}

.home-explain-figure {
  float: left;
  width: 50%;
  margin: 0;
  position: relative;
  img {
    position: absolute;
    width: 600px;
    max-width: none;
    top: 0;
    right: 0;
  }
}

.home-explain-text {
  float: right;
  width: 50%;
  padding-top: 150px;
  padding-bottom: 150px;
}

.home-explain-text-header {
  font-size: 36px;
  font-size: 2.8vw;
  margin-bottom: 10px;
  @media (min-width: $max-width) {
    font-size: 36px;
  }
}

.home-explain-text-header-forms, .home-explain-text-header-us {
  color: #979EA0;
}

.home-explain-text-header-forms {
  display: block;
}

.home-explain-text-body {
  font-size: 18px;
}

/* FEATURES */

.home-features {
  background: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
}

.home-features-item {
  @include clearfix;
  max-width: 600px;
  margin: 0 auto 20px;
  border-bottom: 1px solid #DCE0E1;
  padding-top: 40px;
  padding-bottom: 40px;
}

.home-features .home-features-item:last-child {
  border-bottom: none;
}

.home-features-item-figure {
  float: left;
  width: 100px;
  height: 100px;
  margin: 0;
  img {
    border-radius: 50px;
  }
}

.home-features-item-text {
  margin-left: 125px;
  h2 {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 10px;
  }
  p {
    font-size: 18px;
  }
}

/* PRICING */

.home-pricing {
  background: #FD133C;
  padding-top: 60px;
  padding-bottom: 60px;
  a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: underline;
  }
  a:hover {
    color: #fff;
  }
}

.home-pricing-text, .home-pricing-table {
  max-width: 600px;
  margin: 0 auto;
}

.home-pricing-text-header {
  font-size: 40px;
  text-align: center;
}

.home-pricing-text-header-super {
  color: rgba(255, 255, 255, 0.7);
}

.home-pricing-text-header-simple {
  color: #fff;
}

.home-pricing-text-header-pricing {
  color: rgba(255, 255, 255, 0.7);
}

.home-pricing-text-body {
  color: #fff;
  font-size: 18px;
}

.home-pricing-table {
  color: rgba(255, 255, 255, 0.7);
  th, td {
    border-bottom: none;
  }
  th {
    color: #fff;
    font-size: 14px;
    border-bottom: 2px solid darken(#FD133C, 10%);
  }
  tr.plan-default {
    background: darken(#FD133C, 10%);
    color: #fff;
    a {
      color: #fff;
    }
    td {
      border-top: 2px solid darken(#FD133C, 20%);
      border-bottom: 2px solid darken(#FD133C, 20%);
      &:first-child {
        border-left: 2px solid darken(#FD133C, 20%);
      }
      &:last-child {
        border-right: 2px solid darken(#FD133C, 20%);
      }
    }
  }
}

