.legal-content {
  ul {
    list-style: disc;
  }
  ol {
    list-style: decimal;
  }
  ol, ul {
    margin-left: 38px;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    margin-top: 30px;
  }
}